* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
body {
  font-family: Dosis Semi Bold;
  color: black;
  background-color: white;
}
.main {
  padding-top: 6rem;
}

img {
  width: auto;
  height: auto;
}
