<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>unacuadra.com</title>
   <link rel="stylesheet" href="/css/styles.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
   <header class=" header-index">
      <div class="top-bar">
         <a class="logo-a" href="/"><img class="logo" src="/images/logo-una-cuadra.png" alt="logotipo"></a>

         <nav class="nav-768">
            <div class="first-nav">
               <a class="nav-element" href="#">Contratá un servicio</a>
               <a class="nav-element" href="#">Vendé un servicio</a>
            </div>

            <div class="second-nav">
               <a class="nav-element" href="/register">Creá tu cuenta</a>
               <a class="nav-element" href="/login">Ingresá</a>
               <a class="nav-element" href="#">Tú carrito</a>
               <i class="fas fa-shopping-cart"></i>
            </div>
         </nav>
      </div>

      <div class="container">
         <div class="search_wrap search_wrap_1">
            <div class="search_box">
               <input type="text" class="input" placeholder="Encontrá lo que buscás, a una cuadra">
               <div class="btn btn_common">
                  <i class="fas fa-search"></i>
               </div>
            </div>
         </div>
      </div>
   </header>

   <main>

   </main>

   <footer>

   </footer>
</body>

</html>