<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/head.ejs')%>
   <link rel="stylesheet" href="/css/list.css">
</head>

<body>
   <header>

   </header>

   <main>
      <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(element => { %>
                    <%- include('./partials/product.ejs',{element:element})%> 
                <% }) %>
            </ul>
        <% } else { %>
            <h2>
                No hay productos <a href="/productos">Volver</a>
            </h2>
        <% } %>
   </main>

   <footer>

   </footer>
</body>

</html>