<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/head.ejs') %>
      <link rel="stylesheet" href="/css/list.css">
</head>

<body>
   <% if (products.length> 0) { %>
      <ul>
         <% products.forEach(element=> { %>
            <%- include('./partials/product.ejs',{element:element}) %>
               <% }) %>
      </ul>
      <% } else { %>
         <h2>
            No hay productos
         </h2>
         <% } %>
            <nav>
               <a href="/productos/nuevo"> Nuevo</a>
            </nav>

</body>

</html>