<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Detalles del producto unacuadra.com</title>
   <link rel="stylesheet" href="/css/product-detail.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
   <header>

   </header>

   <main class="card-wrapper">
      <section class="card">
         <div class="service-imgs">
            <div class="img-display">
               <div class="img-showcase">
                  <img src="/images/clases-de-guitarra.jpg" alt="service image">
                  <img src="/images/reparacion-de-pc.jpg" alt="service image">
                  <img src="/images/plomeria.jpg" alt="service image">
                  <img src="/images/clases-de-pintura.jpg" alt="service image">
               </div>
            </div>
         </div>
         <section class="service-content">
            <h2 class="service-title">Clases de guitarra</h2>
            <a href="#" class="service-link">Ver perfil de usuario</a>
            <div class="service-rating">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half-alt"></i>
               <span>4.7(21)</span>
            </div>

            <section class="service-price">
               <p class="price">Precio: <span>$1000</span></p>
            </section>

            <section class="service-detail">
               <h2>Detalle: </h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur
                  placeat
                  sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius.
                  Dignissimos,
                  labore suscipit. Unde.</p>
               <ul>
                  <li>Ubicación: <span>Palermo, CABA</span></li>
                  <li>Disponibilidad: <span>Lun a Vie de 08:00hs a 18:00hs</span></li>
                  <li>Categoría: <span>Educación</span></li>
                  <li>Servicio a domicilio: <span>Sí</span></li>
                  <li>Costo: <span>5%</span></li>
               </ul>
            </section>

            <section class="purchase-info">
               <input type="number" min="0" value="1">
               <button type="button" class="btn">
                  <i class="fas fa-shopping-cart"></i> Agregar al carrito
               </button>
            </section>

            <section class="social-links">
               <p>Compartir en: </p>
               <a href="#">
                  <i class="fab fa-facebook-f"></i>
               </a>
               <a href="#">
                  <i class="fab fa-twitter"></i>
               </a>
               <a href="#">
                  <i class="fab fa-instagram"></i>
               </a>
               <a href="#">
                  <i class="fab fa-whatsapp"></i>
               </a>
               <a href="#">
                  <i class="fab fa-pinterest"></i>
               </a>
            </section>
         </section>
      </section>
   </main>

   <footer>

   </footer>
</body>

</html>