<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Registro unacuadra.com</title>
   <link rel="stylesheet" href="/css/register.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
   <header>

   </header>

   <main>
      <form action="/home" method="POST" class="create-form">

         <div class="control-formulario">
            <input type="text" name="nombre" class="control" placeholder="Nombre">
         </div>

         <div class="control-formulario">
            <input type="text" name="apellido" class="control" placeholder="Apellido">
         </div>

         <div>
            <label>Perfil del usuario</label>
            <ul class="perfil">
               <a>
                  <input type="radio" name="perfil" value="Comprador">
                  <Label>Comprador</Label></a>
               </a>
               <a>
                  <input type="radio" name="perfil" value="Vendedor">
                  <Label>Vendedor</Label></a>
               </a>
            </ul>

         </div>

         <div class="control-formulario">
            <input type="text" name="barrio" class="control" placeholder="Barrio">
         </div>

         <div class="control-formulario">
            <input type="text" name="ciudad" class="control" placeholder="Ciudad">
         </div>

         <div class="control-formulario">
            <input type="text" name="pais" class="control" placeholder="País">
         </div>

         <div class="control-formulario">
            <input type="text" name="user" class="control" placeholder="Nombre de Usuario">
         </div>

         <div class="control-formulario">
            <input type="password" name="password" class="control" placeholder="Password">
         </div>

         <button type="submit" class="btn">Enviar</button>


      </form>
   </main>

   <footer>

   </footer>
</body>

</html>